
.main-image {
  transition: transform 0.3s ease;
}

.main-image:hover {
  transform: scale(1.1);
}

.gallery img {
  margin: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
